{% extends "main.html" %}

{% block content %}
<div class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">

    <div style="text-align: center; margin-top: 2rem;">
      <img src="{{ base_url }}/assets/img/lost-robot.svg" alt="Lost robot illustration"
        style="max-width: 320px; width: 100%; margin-bottom: 1.5rem;" />
    </div>

    <h1 style="text-align: center;">404 - Page not found</h1>

    <p style="text-align: center;">
      Looks like this page wandered off. Let's get you back on track.
    </p>

    <p style="text-align: center;">
      <a href="{{ base_url }}" class="md-button md-button--primary">
        Go back home
      </a>
    </p>

  </article>
</div>
{% endblock %}