name: ci

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      # Checkout repo
      - uses: actions/checkout@v5

      # Setup Python
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=${{ github.workspace }}" >> $GITHUB_ENV

      # Build site with Zensical
      - name: Build site
        run: zensical build --clean

      # Upload built site
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
